FROM nginx:alpine

RUN apk add --no-cache netcat-openbsd

# This one-liner modifies the default Nginx config to return 200 for any path
RUN sed -i 's/index  index.html index.htm;/index  index.html index.htm; try_files $uri $uri\/ \/index.html =200;/g' /etc/nginx/conf.d/default.conf

COPY . /usr/share/nginx/html
EXPOSE {{PORT}}