FROM eclipse-temurin:17-jdk

WORKDIR /app

# Add netcat-openbsd to the install list
RUN apt-get update && apt-get install -y \
    curl \
    netcat-openbsd \
    && rm -rf /var/lib/apt/lists/*

RUN curl -o postgresql.jar https://jdbc.postgresql.org/download/postgresql-42.7.2.jar

COPY . .

EXPOSE 8080

CMD ["java", "-cp", ".:postgresql.jar", "main.java"]